<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App with Flask</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='weather.ico') }}">
</head>
<body>
    <div class="container">
        <h2>Weather App using Flask</h2>

        <form method="post">
            
            <input type="text" name="city" placeholder="Enter a city" required>
            <button type="submit">
                Show Weather
            </button>
        </form>

        {% if weather %}

        <h3>{{ weather.city }}</h3>
        <p>Temperature: {{ weather.temperature }} °C</p>
        <p>Condition: {{ weather.description }}</p>

        {% endif %}

    </div>
</body>
</html>