body{
    font-family: Arial;
    background:#f4f4f4;
}

h2{
    color: red;
}

h3{
    color: blue;
    font-weight: bold;
}

.container{
    text-align:center;
    margin-top:120px;
}

input{
    padding:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

p{
    color: darkgreen;
    font-weight: bold;
}